<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <strong><h2>
      Creación de Empleados
    </h2>
      </strong>
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home">Inicio</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense" >
    <ion-toolbar >
      <ion-title size="large"><h2>Creación de Empleados</h2></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-grid>
    <form class="form-row" [formGroup]="empleadosForm">
        <div class="form-group col-md-2">
            <label for="cedula" class="sr-only">Número de Documento</label>
            <input type="number" name="cedula" id="cedula" class="form-control" placeholder="Cedula" formControlName="cedula" required/>
            <span class="text-danger"
            *ngIf="empleadosForm.controls['cedula'].hasError('required') && empleadosForm.controls['cedula'].touched 
            ">Este campo es Requerido</span>
            <span class="text-danger" 
            *ngIf="empleadosForm.controls['cedula'].hasError('pattern') && empleadosForm.controls['cedula'].touched"
            >Este campo corresponde a un valor Númerico</span>
        </div>
        <div class="form-group col-md-2">
            <label for="nombre" class="sr-only">Nombres</label>
            <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre" formControlName="nombre" required />
            <span class="text-danger" 
            *ngIf="empleadosForm.controls['nombre'].touched && empleadosForm.controls['nombre'].hasError('required')
            ">Este campo es Requerido</span>
        </div>
        <div class="form-group col-md-2">
            <label for="nombre" class="sr-only">Apellidos</label>
            <input type="text" name="apellido" id="apellido" class="form-control" placeholder="Apellido" formControlName="apellido" required/>
            <span class="text-danger"
            *ngIf="empleadosForm.controls['apellido'].touched && empleadosForm.controls['apellido'].hasError('required')
            ">Este campo es Requerido</span>
        </div>
        
        <div class="form-group col-md-2">
            <label for="cargo" class="sr-only">Cargo</label>
            <input type="text" name="cargo" id="cargo" class="form-control" placeholder="Cargo" formControlName="cargo" required/>
            <span class="text-danger"
            *ngIf="empleadosForm.controls['cargo'].hasError('required') && empleadosForm.controls['cargo'].touched"
            >Este campo es Requerido</span>
        </div>
        <div class="form-group col-md-2">
            <label for="area" class="sr-only">Area de Trabajo</label>
            <input type="text" name="area" id="area" class="form-control" placeholder="Area de Trabajo" formControlName="area" required/>
            <span class="text-danger"
            *ngIf="empleadosForm.controls['area'].hasError('required') && empleadosForm.controls['area'].touched"
            >Este campo es Requerido</span>
        </div>
        <div class="form-group col-md-2">
            <label for="salario" class="sr-only">Salario</label>
            <input type="number" name="salario" id="salario" class="form-control" placeholder="Salario" formControlName="salario" required/>
            <span class="text-danger"
            *ngIf="empleadosForm.controls['salario'].hasError('required') && empleadosForm.controls['salario'].touched
            ">Este campo es Requerido</span>
        </div>
        <div class="form-group col-md-2">
            <label for="correo" class="sr-only">Correo </label>
            <input type="text" name="correo" id="correo" class="form-control" placeholder="Correo" formControlName="correo" required/>
            <span class="text-danger"
            *ngIf="empleadosForm.controls['correo'].hasError('required') && empleadosForm.controls['correo'].touched
            ">Este campo es Requerido</span>
            <span class="text-danger"
            *ngIf="empleadosForm.controls['correo'].hasError('email') && empleadosForm.controls['correo'].touched
            ">El valor ingresado no es un Email</span>
        </div>
        <div class="form-group col-md-2">
            <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
            <input type="date" name="fechaNacimiento" id="fechaNacimiento" class="form-control" placeholder="fechaNacimiento" formControlName="fechaNacimiento" required/>
            <span class="text-danger"
            *ngIf="empleadosForm.controls['fechaNacimiento'].hasError('required') && empleadosForm.controls['fechaNacimiento'].touched 
            ">Este campo es Requerido</span>
            <span class="text-danger" 
            *ngIf="empleadosForm.controls['fechaNacimiento'].hasError('fechaNacimiento') && empleadosForm.controls['fechaNacimiento'].touched"
            >Este campo corresponde a un valor Númerico</span>
        </div>
        <div class="form-group col-md-2">
            <label for="fechaIngreso" class="sr-only">Fecha de Ingreso</label>
            <input type="date" name="fechaIngreso" id="fechaIngreso" class="form-control" placeholder="fechaIngreso" formControlName="fechaIngreso" required/>
            <span class="text-danger"
            *ngIf="empleadosForm.controls['fechaIngreso'].hasError('required') && empleadosForm.controls['fechaIngreso'].touched 
            ">Este campo es Requerido</span>
            <span class="text-danger" 
            *ngIf="empleadosForm.controls['fechaIngreso'].hasError('fechaIngreso') && empleadosForm.controls['fechaIngreso'].touched"
            >Este campo corresponde a un valor Númerico</span>
        </div>
        <br />
        <div class="col">
            <button type="submit" class="btn btn-primary" (click)="agregarTerceros()" [disabled]="empleadosForm.invalid" >
                Agregar
            </button>
        </div>
    </form>
    </ion-grid>
</ion-content>
